<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/matejkubinec/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="matejkubinec" />
            <add key="ClearTextPassword" value="0882abbb81f9177a16e05e023d73fe7ef7d2ad89" />
        </github>
    </packageSourceCredentials>
</configuration>